[Unit]
Description=Remindme Daemon

[Service]
Type=idle
ExecStart=/usr/local/bin/remindd
Restart=always
RestartSec=10
KillMode=process
ProtectSystem=false
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
