[Unit]
Description=remindme Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/remindd
User=reminder
Group=reminder
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
